# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# AI
GEMINI_API_KEY="[ENCRYPTION_KEY]"
GEMINI_MODEL=gemini-3-flash-preview

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Storage Provider (cloudinary | neo)
STORAGE_PROVIDER=neo

# NEO Cloud (S3 Compatible - Production)
NEO_ENDPOINT=
NEO_ACCESS_KEY_ID=
NEO_SECRET_ACCESS_KEY=
NEO_BUCKET_NAME=snapshort
NEO_REGION=
NEO_PUBLIC_URL=

# Cloudinary (Testing)
CLOUDINARY_CLOUD_NAME=dpxir63yz
CLOUDINARY_API_KEY=423177957836671
CLOUDINARY_API_SECRET=v3oXCkx4kV0VyIfc5rw0y5crRIY
IMAGE_BASE_URL=https://res.cloudinary.com/dpxir63yz/image/upload/
